# Python standard
__pycache__/
*.py[cod]
*$py.class
*.so

# Packages
dist/
build/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/

# .md files to ignore
*.md
!README.md  
